:root {
  --main-bg-color: #f3f3f3;
  --main-text-color: #333;
  --main-accent-color: #008391;
  --button-text-color: #f3f3f3;
  --container-bg-color: rgba(0, 0, 0, 0.1);
  --navbar-bg-color: #fff;
}

.preload {
  display: none;
}

body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--container-bg-color);
  padding: 1rem;
  border-radius: 15px;
  gap: 0.5rem;
  margin: 0 0.5rem;
}

.dark-mode {
  --main-bg-color: #1b1b1d;
  --main-text-color: #f3f3f3;
  --main-accent-color: #dbbc30;
  --button-text-color: #1b1b1b;
  --container-bg-color: #242526;
  --ifm-navbar-link-hover-color: #dbbc30;
  --navbar-bg-color: #242526;
}

.bottom-panel-row {
  flex: 1 1 auto;
  display: flex;
  gap: 10px;
}

.code-editor-panel {
  resize: vertical;
  flex: 1 0 auto;
  overflow: auto;
  border-radius: 15px;
}

.html-output-panel,
.render-panel {
  overflow: auto;
  resize: horizontal;
  flex-grow: 2;
}

.top-tool-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

button.run-button {
  position: relative;
  background-color: var(--main-accent-color);
  border-radius: 15px;
  color: var(--button-text-color);
  border: none;
  padding: 0.312rem 0.75rem;
  transition: background-color 0.3s ease;
}

button.run-button:hover {
  cursor: pointer;
  background-color: #f7da57;
}

button.loading .button-text {
  visibility: hidden;
  opacity: 0;
}
button.loading::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid transparent;
  border-top-color: var(--button-text-color);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.html-toggle {
  background-color: transparent;
  color: var(--main-accent-color);
  border-color: var(--main-accent-color);
  padding: 0.312rem 0.75rem;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.html-toggle:hover {
  cursor: pointer;

  background-color: var(--main-accent-color);
  color: var(--button-text-color);
  border-color: var(--main-accent-color);
}

.html-toggle--toggled {
  background-color: var(--main-accent-color);
  color: var(--button-text-color);
  border-color: var(--main-accent-color);
}

.theme-toggle__lightbulb {
  transition:
    stroke 0.3s ease,
    fill 0.3s ease;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-accent-color);
  padding: 0.5rem 1rem;
  border-radius: 15px 15px 0 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: var(--main-accent-color);
  animation: spinner 0.6s linear infinite;
}

.html-output-panel,
.code-editor-panel {
  display: flex;
  flex-direction: column;
}

.ace_editor {
  height: 100% !important;
  margin: 0;
}

.navbar {
  display: flex;
  background-color: var(--navbar-bg-color);
  box-shadow: 0 1px 2px 0 #0000001a;
  height: 3.75rem;
  padding: 0.5rem 1rem;
}

.navbar__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.navbar__items {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}

.navbar__brand {
  align-items: center;
  display: flex;
  margin-right: 1rem;
  min-width: 0;
}

.navbar__logo {
  flex: 0 0 auto;
  height: 2rem;
  margin-right: 0.5rem;
}

.navbar__logo__img {
  height: 100%;
}

.navbar__link {
  color: var(--main-accent-color);
  text-decoration: none;
  font-weight: 500;
}

.navbar__item {
  display: inline-block;
  padding: 0.25rem 0.75rem;
}

.navbar__items--right {
  align-items: center;
  display: flex;
  min-width: 0;
}

.panel--hidden {
  display: none;
}

.bottom-panel-row.child__panel--hidden {
  grid-template-columns: 1fr;
}
